@import '/node_modules/normalizecss/normalize.css';

body {
    overflow-x: hidden;
}

body, main, nav, div {
    display: flex;
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

* {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;;
}
